### As root ###
# cd /etc/systemd/system/multi-user.target.wants
# ln -s /home/lhl/powerbutton/conf/systemd/powerbutton.service
# systemctl daemon-reload

### tail log ###
# journalctl -f -u powerbutton

[Unit]
Description=powerbutton web service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/lhl/powerbutton/powerbutton.py
Restart=always

[Install]
WantedBy=multi-user.target
